@import "../../index.scss";

.gf-board-view {
  width: 100%;
  padding: 0 1.5rem 2rem !important;
}

.gf-board-view h1 {
  margin-bottom: 1rem;
}

.gf-lists-container {
  display: flex;
  align-items: flex-start;
}

.gf-list-draggable {
  flex: 1;
  padding: 5px 10px;
  background: $light-grey;
  border-radius: 4px;
  margin-right: 1rem;
  max-width: 20rem;
}

.gf-list-dragging {
  background: darken($light-grey, 10%);
  user-select: none;
}