@import "../../index.scss";

.gf-board-view {
  width: 100%;
}

.gf-lists-container {
  display: flex;
}

.gf-list-draggable {
  flex: 1;
  padding: 5px 10px;
  background: $light-grey;
  border-radius: 4px;
  margin-right: 1rem;
  max-width: 20rem;
}

.gf-list-dragging {
  background: darken($light-grey, 10%);
  user-select: none;
}

.gf-list-container-button {
  padding: 0;
  background: none;
  border-radius: 0;
}

.gf-list-container-button button {
  padding: 5px 10px;
  background: $light-grey;
  border-radius: 4px;
  width: 100%;
  border: none;
  font-size: 1em;
  color: $text;
  cursor: pointer;
  text-align: left;
  line-height: 1.5;
}

.gf-list-container-button button:hover {
  background: $link;
  color: white;
}